$grey: #f9f9f9;
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
    min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	border-image: linear-gradient(90deg,#1abc9c 15%,#2ecc71 15%,#2ecc71 12%,#3498db 12%,#3498db 32%,#9b59b6 32%,#9b59b6 35%,#34495e 35%,#34495e 55%,#f1c40f 55%,#f1c40f 59%,#e67e22 59%,#e67e22 63%,#e74c3c 63%,#e74c3c 82%,#ecf0f1 82%,#ecf0f1 92%,#95a5a6 92%);
    border-image-slice: 5;
    border-width: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.hero-banner__image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/alcohol-bar-bar-cafe-1324896.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&--text{
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
	}
  }

  #features{
	  padding: 80px 0;
	  & > h2{
		  text-align: center;
		  margin-bottom: 20px;
	  }
  }

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.container{
	max-width: 1400px;
	margin: 0 auto;
}

/* Accordion */
.accordion_beer {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion_beer:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion_beer:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion_beer.active:after {
    content: "\2212";
}

.content h2 {
	margin: 0;
}

#beers {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-gap: 18px;
	& li {
	  background: $grey;
	  padding: 20px;
	  text-align: center;
	  cursor: pointer;
		  list-style: none;
	  img {
			  display: block;
			  margin: 0 auto 10px;
			  max-height: 200px;
			  width: auto;
			  }
	  }
	}

.footer {
	background-color: #333;
	padding: 40px 0;
	color: #fff;
	&__nav--column{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
		padding: 10px;
		& > p{
			text-align: center;
		}
	}
}

@media (max-width: 767px){
	#beers, .footer__nav--column{
		grid-template-columns: 100%;
	}
}